<manifest xmlns:android="http://schemas.android.com/apk/res/android"
              package="com.hitherejoe.androidboilerplate.test">

        <instrumentation android:name="android.support.test.runner.AndroidJUnitRunner"
                         android:targetPackage="com.hitherejoe.androidboilerplate"/>

</manifest>
